<p>
    Bad news! The rollback of {{ stage }} failed
</p>

<p>
    Please keep in mind that no change has been made to your infrastructure,
    as rollbacks only refer to source code.
    <br />
    However, if you notice anything unusual regarding the systems provisioned by Stackmate,
    please contact us at {{ support_email }}
</p>

<p>
    You can view the full output of the rollback on
    <a href="{{ operation_url }}">Stackmate.io</a>
</p>

<p>
    Keep Shipping,
    The Stackmate.io team
</p>

<p>
    <small>
        This is an automated transactional email sent by Stackmate.io.
        In case you neet to reach out to us, please do so at {{ support_email }}
    </small>
</p>
