{
    "Version": "2008-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "ses:*",
                "ses:SendEmail",
                "ses:SendTemplatedEmail",
                "ses:SendRawEmail",
                "ses:SendBulkTemplatedEmail"
            ],
            "Resource": "*"
        }
    ]
}
