# File generated and managed by Stackmate.io
#
# To enable the service, run the following command:
#   systemctl enable {{ servicecfg.name }}
#
# To disable the service run the following command:
#   systemctl enable {{ servicecfg.name }}
#
[Unit]
Description={{ servicecfg.description }}
Requires=multi-user.target
Wants={{ servicecfg.name }}.service
After={{ servicecfg.after }}
AllowIsolate=yes
