<p>
   The deployment of commit
    <a href="{{ commit.reference | commit_url(repository=repository, scm=scm) }}">{{ commit.reference}}</a>
    was cancelled
</p>

<p>
    <strong>IMPORTANT</strong>
    In case the deployment was cancelled during infrastructure provisioning,
    there might be resources that haven't been fully provisioned, which means
    you’ll need another deployment to make sure they're fully functional.

    If you notice any subsequent failures or anything unusual after you re-deploy,
    please contact us at {{ support_email }}
</p>

<p>
    You can view the full output on <a href="{{ operation_url }}">Stackmate.io</a>
</p>

<p>
    Keep Shipping,
    The Stackmate.io team
</p>

<p>
    <small>
        This is an automated transactional email sent by Stackmate.io.
        In case you neet to reach out to us, please do so at {{ support_email }}
    </small>
</p>
